@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --primary-color-950:#123a47;
  --primary-color-900:#275867;
  --primary-color-800:#286a7a;
  --primary-color-700:#248095;
  --primary-color-600:#239fb7;
  --primary-color-500:#26c6da;
  --primary-color-400:#4ecad8;
  --primary-color-300:#26c6daa8;
  --primary-color-200:#bef0f3;
  --primary-color-100:#ddf8f9;
  --primary-color-50:#f1fdfd;


  --secondary-color-950:#151519;
  --secondary-color-900:#1e1f26;
  --secondary-color-800:#262738;
  --secondary-color-700:#2c2e47;
  --secondary-color-600:#282c5e;
  --secondary-color-500:#263272;
  --secondary-color-400:#5f79d1;
  --secondary-color-300:#8ba6e2;
  --secondary-color-200:#b7c9ee;
  --secondary-color-100:#d7e2f5;
  --secondary-color-50:#eaf0fa;


  --third-color-950:#3d0c03;
  --third-color-900:#711d0a;
  --third-color-800:#8c210a;
  --third-color-700:#b12902;
  --third-color-600:#c83700;
  --third-color-500:#e65100;
  --third-color-400:#ff7317;
  --third-color-300:#ffa65a;
  --third-color-200:#ffcb99;
  --third-color-100:#ffe7cd;
  --third-color-50:#fff4e9;


}

@layer utilities {
  .styles_link___3_ON:hover::after {
    transform: scaleX(0.99) translateZ(0);
  }

  .styles_link___3_ON:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color-300);
    transition: transform .65s;
    transition-delay: 0s;
    transition-timing-function: ease;
    transform: scaleX(0) translateZ(0);
}
}

&::-webkit-scrollbar {
  width: 12px;
}
&::-webkit-scrollbar-track {
  background: transparent;
}
&::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border: 3px solid #dfdfdf;
  border-radius: 12px !important;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Adjust arrow position */
 .swiper-button-next,
 .swiper-button-prev {
  height: 50px !important;
  width: 50px !important;
  background: #fff !important;
  border: 1px solid #fff !important;
  border-radius: 50% !important;
}

.swiper-button-next:after,
.swiper-button-prev:after
 {
  font-size:1.1rem !important;
}
